<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spitter</title>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/resources/style.css}"/>
</head>
<body>


<div id="content">
    <h1>Welcome to Spitter</h1>

    <form action="fileupload/picture2" method="POST" enctype="multipart/form-data">
        文本内容:<input type="text" name="tstring"/><br/>
        文本内容2:<input type="text" name="tstring2"/><br/>
        <input type="file" name="picture" accept="image/jpeg,image/png"></input><br/>
        <input type="submit"></input>
    </form>

</div>

</body>
</html>
